.elements {
    max-width: calc(100% - 200px * 2);
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
}
@media screen and (max-width: 1279px){
    .elements {
        max-width: calc(100% - 100px * 2);
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}
@media screen and (max-width: 1043px){
    .elements {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 812px){
    .elements {
        max-width: calc(100% - 27px * 2);
    }
}
@media screen and (max-width: 600px){
    .elements {
        max-width: calc(100% - 60px * 2);
        grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    }
}
@media screen and (max-width: 425px){
    .elements {
        max-width: calc(100% - 35px * 2);
    }
}
@media screen and (max-width: 375px){
    .elements {
        grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
        max-width: calc(100% - 19px * 2);
        margin-top: 36px;
    }
}