.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
@media screen and (max-width: 620px){
  .header__link {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
  }
}