.header__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 620px){
  .header__head-open {
    border-top: 1px solid rgba(84, 84, 84, .7);
    padding-top: 27px;
  }
  
}