.popup__image {
  max-width: 75vh;
  max-height: 75vh;
  display: block;
  opacity: 1;
  transition: all .2s ease-in-out;
}
@media screen and (max-width: 680px){
  .popup__image {
      max-width: 60vh;
      max-height: 60vh;
  }
}
@media screen and (max-width: 485px){
  .popup__image {
      max-width: 50vh;
  }
}
@media screen and (max-width: 375px){
  .popup__image {
      max-width: 45vh;
  }
}
@media screen and (max-width: 320px){
  .popup__image {
      max-width: 240px;
  }
}